################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vs/*
/Calculator App/.vs/Calculator App
/bin
/bin/*
/obj
/obj/*

*.tlog
*.exe
*.dll
*.obj
*.o
*.log
*.ilk
*.pdb
*.lastbuildstate
*.recipe
*.exp
*.res
*.lib